@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

/* font-family: 'DM Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "DM Sans", sans-serif;
  background: #f2f2f2;
}

/* header section */
header {
  padding: 2.8rem 2.4rem;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  align-items: center;
}
.navbar {
  display: none;
}

.invite-btn0 {
  display: none;
}

#hamburger-icon {
  margin: auto 0;
  cursor: pointer;
}
#hamburger-icon {
  margin: auto 0;
  cursor: pointer;
}

#hamburger-icon div {
  width: 2rem;
  height: 1px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}
.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-4px, 6px);
}

.open .bar2 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(0px, -1px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  background: #ffffff;
  margin-top: 2rem;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(50vh - 50px);
  width: 100%;
}

li {
  list-style: none;
  text-decoration: none;
  margin-bottom: 2rem;
}

a {
  font-weight: var(--max-font-weight);
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #000000;
}

.mobile-menu > li > a:hover {
  mix-blend-mode: normal;
  opacity: 0.3;
}
.mobile-menu a{
  color: #000000;
}
.nav-line {
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.25;
  height: 1px;
  margin-bottom: 2rem;
  width: 85%;
}

.nav-list > li > a:hover {
  mix-blend-mode: normal;
  opacity: 0.3;
}
.invite-btn {
  background: #000000;
  font-weight: var(--max-font-weight);
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2.5px;
  color: #ffffff;
  padding: 1em 4.5em;
  border: none;
}
.invite-btn0:hover {
  background: #dfdfdf;
  color: #000000;
  cursor: pointer;
}
/* main section */
.hero {
  background: url(/assets/features/mobile/hero.jpg) no-repeat;
  width: 100%;
  height: 29.4rem;
  background-size: cover;
  
}
.main-info {
  padding: 7.2rem 2.8rem 7.2rem 2.9rem;
  background: black;
  color: #ffffff;
  position: relative;
}
h1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0.3rem;
}
p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.3rem;
  margin-top: 1.6rem;
}
.main-info > p {
  opacity: 0.6;
  mix-blend-mode: normal;
}
/* pseudo element section */
.main-info::before,
.invite-today::before {
  content: "";
  display: block;
  width: 12.8rem;
  height: 0.6rem;
  background: linear-gradient(
    26.57deg,
    #ffc593 0%,
    #bc7198 43.29%,
    #5a77ff 83.33%
  );
  position: absolute;
  top: 0;
}

/* info-boxes section*/
.info-boxes {
  padding: 6.4rem 3.2rem 9.1rem 3.3rem;
  display: flex;
  flex-direction: column;
  gap: 5.6rem;
  background: #f2f2f2;
  text-align: center;
}
.info-boxes img {
  margin-bottom: 5rem;
}

/* invite with desert */
.invite-today {
  background: url(/assets/shared/mobile/bg-beta.jpg) no-repeat;
  background-size: cover;
  padding: 6.4rem 3.2rem 6.4rem 3.3rem;
  color: #ffffff;
  position: relative;
}
.beta-title {
  margin-bottom: 2.4rem;
}
a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
}
.invite-link {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

/* footer style section */
footer {
  padding: 5.6rem 6rem;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footernav-list0 {
  display: none;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.3rem;
  margin-top: 3.2rem;
  margin-bottom: 5rem;
}
.icons > svg {
  fill: #ffffff;
  cursor: pointer;
}

.fb:hover {
  fill: url(#grad);
}

.youtube:hover {
  fill: url(#youtube);
}

.twitter:hover {
  fill: url(#twitter);
}
.pinterest:hover {
  fill: url(#pinterest);
}
.insta:hover {
  fill: url(#insta);
}

.footerlastdiv {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footernav-list > li > a {
  margin-top: 5rem;
  list-style: none;
  text-decoration: none;
  margin-bottom: 2rem;
  font-weight: var(--max-font-weight);
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #ffffff;
}

.footerinvite {
  font-weight: var(--max-font-weight);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  margin-bottom: 3.4rem;
  color: #ffffff;
  margin-top: 11rem;
}
.footerinvite::after {
  content: url(../assets/shared/desktop/arrow\ white.svg);
  margin-left: 1.8rem;
}
.copyright {
  font-weight: var(--min-font-weight);
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 3.4rem;
}


@media (min-width: 560px){
  /* header section */
  #hamburger-icon {
    display: none;
    visibility: hidden;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1.7rem;
  }

  .nav-line {
    display: none;
  }

  header {
    padding: 2.8rem 1rem;
  }
  .invite-btn0 {
    display: inline-block;
    background: #000000;
    font-weight: var(--max-font-weight);
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    padding: 0.5em 2.4em;
    border: none;
  }

  .nav-list > li > a {
    text-decoration: none;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #000000;
  }

  /* footer section */
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 2rem;
    padding: 2.8rem 2rem;
  }
  .footernav-list {
    display: none;
  }
  .footernav-list0 {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    margin-top: 3.2rem;
  }
  .footernav-list0 > li > a {
    list-style: none;
    text-decoration: none;
    margin-bottom: 2rem;
    font-weight: var(--max-font-weight);
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .icons {
    margin-top: 10rem;
    justify-content: unset;
  }

  .copyright {
    font-size: unset;
    margin-top: 14rem;
  }
}


@media (min-width: 768px) {
/* header tablet section */
header {
  padding: 1.9rem 4rem;
}
.nav-list > li > a {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}

.invite-btn0 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  padding: 1.2em 2.4em;
  border: none;
}
/* responsive hero section */
.hero{
  background: url(/assets/features/tablet/hero.jpg)no-repeat;
  background-size: cover;
  height: 51.5rem;
}
/* main section */
  .main-box {
    display: flex;
    background: url(./assets/features/tablet/hero.jpg)no-repeat;
  }
  .main-info {
    order: -1;
    padding: 17.3rem 5.4rem;
  }

  h1 {
    font-size: 4rem;
    line-height: 4.8rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
  }
  .main-p {
    width: 38.7rem;
    margin-top: 2.1rem;
  }

  /* pseudo element section */
  .main-info::before {
    width: 0.6rem;
    height: 14.4rem;
    left: 0;
    top: 40%;
  }
  .invite-today::before {
    width: 0.6rem;
    height: 28rem;
    left: 0;
    top: 0;
  }

  .info-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 6rem;
    padding: 11.2rem 3.9rem;
    align-items: center;
  }
  .beta-title {
    font-size: 4rem;
    line-height: 4.8rem;
    letter-spacing: 0.41rem;
    width: 40rem;
    margin-bottom: 0;
  }
  .invite-today {
    background: url(/assets/shared/tablet/bg-beta.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    gap: 11rem;
    padding: 6.8rem 4rem;
  }
  /* footer section */
  footer {
    padding: 1.9rem 4rem;
  }
  .footerinvite {
    margin-top: 6.4rem;
    align-self: flex-end;
  }
  .footernav-list0 > li > a {
    font-size: 12px;
    line-height: 16px;
  }
  .copyright {
    font-size: 15px;
    line-height: 20px;
    margin-top: 13rem;
  }
}

@media (min-width: 1440px) {
/* header desktop section */
header {
  padding: 1.6em 16.4em;
}

/* hero responsive section */
.hero{
  background: url(/assets/features/desktop/hero.jpg)no-repeat;
  background-size: cover;
}
/* main */
  .main-info{
    padding: 17.3rem 11.1rem;
  }
.info-boxes{
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  row-gap: 10rem;
}
  .invite-today{
    background: url(/assets/shared/desktop/bg-beta.jpg);
    padding: 6.8rem 16.5rem;
  }
  .invite-link{
    cursor: pointer;
  }
  /* footer */
  footer {
    padding: 1.6em 16.4em 6.4em;
  }
  .footernav-list0 {
    display: none;
  }
  .footernav-list {
    display: flex;
    flex-direction: column;
  }
  .footernav-list > li > a:hover {
    cursor: pointer;
    mix-blend-mode: normal;
    opacity: 0.3;
  }
  .copyright {
    margin-top: 7rem;
  }
  .footerinvite:hover {
    text-decoration: underline;
    cursor: pointer;
  }

}
