/* main section */
.hero {
  background: url(/assets/features/mobile/hero.jpg) no-repeat;
  height: 29.4rem;
  background-size: cover;
  width: 100%;
}
.main-info {
  padding: 7.2rem 2.8rem 7.2rem 2.9rem;
  background: black;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: 42rem;
}
h1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0.3rem;
}
p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-top: 1.6rem;
}
.main-info > p {
  opacity: 0.6;
  mix-blend-mode: normal;
}
/* pseudo element section */
.main-info::before,
.invite-today::before {
  content: "";
  display: block;
  width: 12.8rem;
  height: 0.6rem;
  background: linear-gradient(
    26.57deg,
    #ffc593 0%,
    #bc7198 43.29%,
    #5a77ff 83.33%
  );
  position: absolute;
  top: 0;
}

/* info-boxes section*/
.info-boxes {
  padding: 6.4rem 3.2rem 9.1rem 3.3rem;
  display: flex;
  flex-direction: column;
  gap: 5.6rem;
  background: #f2f2f2;
  text-align: center;
}
.info-boxes img {
  margin-bottom: 5rem;
}

/* invite with desert */
.invite-today {
  background: url(/assets/shared/mobile/bg-beta.jpg) no-repeat;
  background-size: cover;
  padding: 4.6em 6.4em 6.4em 4.6em;
  color: #ffffff;
  position: relative;
  align-items: center;
  justify-content: end;
}

.beta-title {
  margin-bottom: 2.4rem;
}
a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
}
.invite-link {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

/* ******************************************************** */

@media (min-width: 560px) {
  /* main-box section */
  .main-box {
    display: flex;
    flex-direction: row-reverse;
  }
  .hero {
    height: 42rem;
  }

  /* ********************************************************** */
  /* button decoration */
  /* ******************************************************** */

  .nav-list > li > a {
    text-decoration: none;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #000000;
  }
  /* footer */
  .invite-today {
    display: flex;
    background: url(/assets/shared/mobile/bg-beta.jpg) no-repeat;
    background-size: cover;
    padding: 2.8rem 2rem;
    color: #ffffff;
    position: relative;
  }

  .invite-today::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    background: linear-gradient(
      26.57deg,
      #ffc593 0%,
      #bc7198 43.29%,
      #5a77ff 83.33%
    );
    position: absolute;

    left: 0;
  }
  .beta-title {
    width: 66%;
  }
}

@media (min-width: 768px) {
  /* responsive hero section */

  .hero {
    background: url(/assets/features/tablet/hero.jpg) no-repeat;
    background-size: cover;
  }
  /* main section */

  .main-info {
    padding: 11.3rem 7.4rem;
  }

  h1 {
    font-size: 4rem;
    line-height: 4.8rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
  }
  .main-p {
    width: 38.7rem;
    margin-top: 2.1rem;
  }

  /* pseudo element section */
  .main-info::before {
    width: 0.4rem;
    height: 14.4rem;
    left: 0;
    top: 40%;
  }
  .invite-today::before {
    width: 0.6rem;

    left: 0;
    top: 0;
  }

  .info-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 6rem;
    padding: 11.2rem 4rem;
    align-items: center;
  }
  .beta-title {
    font-size: 4rem;
    line-height: 4.8rem;
    letter-spacing: 0.41rem;
    width: 40rem;
    margin-bottom: 0;
  }
  .invite-today {
    background: url(/assets/shared/tablet/bg-beta.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;

    padding: 4.6em 1.4em 2.4em;
  }
}

@media (min-width: 1440px) {
  /* hero responsive section */
  .hero {
    background: url(/assets/features/desktop/hero.jpg) no-repeat;
    background-size: cover;
  }
  /* main */
  .main-info {
    padding: 12.3rem 11.1rem;
  }
  .info-boxes {
    padding: 16rem 16.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline;
    row-gap: 10rem;
  }
  .invite-today {
    background: url(/assets/shared/desktop/bg-beta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6.8rem 164px 5.5rem 11.5rem;
  }
  .invite-link {
    cursor: pointer;
  }
}
