/* moon of appalachia section */

.moonofappalachia   {
    background-image: url(../assets/stories/mobile/moon-of-appalacia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 317px;
}

.moonofappalachiatxt    {
    position: relative;
    background-color: #000000;
    width: 100%;
    padding: 48px 28px 48px 29px;
}

h1 {
    font-weight: var(--max-font-weight);
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 3.33333px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 16px;
    margin-bottom: 16px;
  }

h2  {
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
}
.moontext   {
    color: #ffffff;
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.date-author    {
    display: flex;
    gap: 9px;
}
.date-author > .date  {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.75;
}
.date-author > .author {
  opacity: 1;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #ffffff;
}
.readstory,
.read-story {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #ffffff;
    display: inline-flex;
}
.read-story{
  display: flex;
  justify-content: space-between;
}

.readstory::after {
    content: url(../assets/shared/desktop/arrow\ white.svg);
    margin-left: 1.8rem;
  }

/* ********************************************* */
/* common styles for all cards */
/* ********************************************* */
.line {
    height: 1px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
    margin-top: 16px;
    margin-bottom: 20px;
  }

.card {
    padding: 215px 41.67px 40px 41.67px;
    height: 375px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;    
  }
.card-text  {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #FFFFFF;
}

.title  {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

/* ********************************************* */
/* end of the common styles for all cards */
/* ********************************************* */

/* ********************************************* */
/* the mountains card */
.mountains  {
  background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/mobile/mountains.jpg);
}
/* the sunsetcityscapes card */
.sunsetcityscapes {
  background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/mobile/cityscapes.jpg);
}

/* the 18days card */
.daysvoyage {
  background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/mobile/18-days-voyage.jpg);
}
/* the architecturals card */
.architecturals {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/mobile/architecturals.jpg);
}

/* the worldtour card */
.worldtour {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/mobile/world-tour.jpg);
}

/* the unforseencorners card */
.unforseencorners {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/mobile/unforeseen-corners.jpg);
}

/* the kingofafrica card */
.kingofafrica {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/mobile/king-on-africa.jpg);
}

/* the trip tp nowhere card */
.triptonowhere {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/mobile/trip-to-nowhere.jpg);
}

/* the rageofthesea card */
.rageofthesea {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/mobile/rage-of-the-sea.jpg);
}

/* the running free card */
.runningfree {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/mobile/running-free.jpg);
}

/* the behindthewaves card */
.behindthewaves {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/mobile/behind-the-waves.jpg);
}

/* the calmwaters card */
.calmwaters {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/mobile/calm-waters.jpg);
}

/* the milkyway card */
.milkyway {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/mobile/milky-way.jpg);
}

/* the nightofforest card */
.nightofforest {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/mobile/dark-forest.jpg);
}

/* the somwarpetbeauty card */
.somwarpetbeauty {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/mobile/somwarpet.jpg);
}

/* the landofdreams card */
.landofdreams {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/mobile/land-of-dreams.jpg);
}

/* ******************************************************** */

/* ******************************************************** */
/* min-tablet version starts from here 560px*/
/* ******************************************************** */

/* ******************************************************** */
/* tablet version starts from here 768px */
/* ******************************************************** */

@media screen and (min-width: 768px) {
  /* moon of appalachia section */
  .moonofappalachia   {
    background-image: url(../assets/stories/tablet/moon-of-appalacia.jpg);
    height: 650px;

  }
  
  .appalachia {
    position: relative;
  }

  .moonofappalachiatxt    {
    padding: 0 0 0 0;
    position: absolute;
    background: transparent;
    width: 50%;
    top: 122px;
    left: 39px;
  }

  h1   {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4.16667px;
    margin-top: 24px;
  }

  /* gallery grid view */
  .card {
    padding: 340px 42.67px 40px 42.67px;
    height: 500px;
  }
  .gallery  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ******************************************************* */
/* DEsktop version */
/* ******************************************************* */

@media screen and (min-width: 1024px) {
  /* appalachia */
  .moonofappalachiatxt {
    left: 112px;
    width: 387px;
  }

 /* gallery grid view */
  .readstory:hover  {
    text-decoration: underline;
  }
  .gallery  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .card {
    transition: all 0.3s;
  }
  .card:hover {
    transform: translateY(-25px);
    cursor: pointer;
    opacity: 1;
    filter: brightness(65%);
  }

  .card:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(
      27deg,
      #ffc593 0%,
      #bc7198 49%,
      #5a77ff 95%
    );
    opacity: 1;
    transition: opacity 0.3s;
  }
  /* the mountains card */
  .mountains  {
    background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/desktop/mountains.jpg);
  }
  /* the sunsetcityscapes card */
  .sunsetcityscapes {
    background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/desktop/cityscapes.jpg);
  }

  /* the 18days card */
  .daysvoyage {
    background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/desktop/18-days-voyage.jpg);
  }
  /* the architecturals card */
  .architecturals {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/desktop/architecturals.jpg);
  }

  /* the worldtour card */
  .worldtour {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/desktop/world-tour.jpg);
  }

  /* the unforseencorners card */
  .unforseencorners {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/desktop/unforeseen-corners.jpg);
  }


  /* the kingofafrica card */
  .kingofafrica {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/desktop/king-on-africa.jpg);
  }


  /* the trip tp nowhere card */
  .triptonowhere {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/desktop/trip-to-nowhere.jpg);
  }

  /* the rageofthesea card */
  .rageofthesea {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/desktop/rage-of-the-sea.jpg);
  }

  /* the running free card */
  .runningfree {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/desktop/running-free.jpg);
  }

  /* the behindthewaves card */
  .behindthewaves {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/desktop/behind-the-waves.jpg);
  }


  /* the calmwaters card */
  .calmwaters {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/desktop/calm-waters.jpg);
  }

  /* the milkyway card */
  .milkyway {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/desktop/milky-way.jpg);
  }

  /* the nightofforest card */
  .nightofforest {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/desktop/dark-forest.jpg);
  }

  /* the somwarpetbeauty card */
  .somwarpetbeauty {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/desktop/somwarpet.jpg);
  }

  /* the landofdreams card */
  .landofdreams {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.27%, rgba(0, 0, 0, 0.661222) 100%), url(../assets/stories/desktop/land-of-dreams.jpg);
  }
}