/* ******************************************************** */
/* Create and share section css */
/* ******************************************************** */
.createandshare {
  background-image: url(../assets/home/mobile/create-and-share.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 29rem;
  background-size: cover;
}

.createandsharetxt {
  position: relative;
  background-color: #000000;
  width: 100%;
  height: 42rem;
}
.createandsharetxt::before {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  top: 0;
  left: 5%;
  height: 0.5rem;
  background: linear-gradient(
    26.57deg,
    #ffc593 0%,
    #bc7198 43.29%,
    #5a77ff 83.33%
  );
}

.create-text-box {
  padding: 4.1em 2.4em;
}
.create-text-box > h1 {
  font-weight: var(--max-font-weight);
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 3.33333px;
  text-transform: uppercase;
  color: #ffffff;
}

.create-text-box > p {
  font-weight: var(--min-font-weight);
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-top: 1.6rem;
}

/* ******************************************************** */
/* beautiful stories section */
/* ******************************************************** */
.stories-photo {
  background-image: url(../assets/home/mobile/beautiful-stories.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 27rem;
  background-size: cover;
}
.stories-txt-box {
  padding: 5.9em 2.4em;
}
.stories-txt-box > h1 {
  font-weight: var(--max-font-weight);
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 3.33333px;
  text-transform: uppercase;
  color: #000000;
}

.stories-txt-box > p {
  font-weight: var(--min-font-weight);
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  margin-top: 1.6rem;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.viewstory {
  border: none;
  margin-top: 2.3rem;
  background: #0000;
  color: #000000;
}

.invite-story {
  padding-bottom: 7px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  padding-right: 15px;
  color: #000;
  text-transform: uppercase;
}

.viewstory svg {
  margin-left: 2rem;
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.viewstory:hover svg {
  transform: translateX(0);
}

.viewstory:active svg {
  transform: scale(0.9);
}

.invite-story {
  position: relative;
  color: #000;
  padding-bottom: 20px;
}

.invite-story:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.viewstory:hover .invite-story:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* ******************************************************** */
/* Design for everyone */
/* ******************************************************** */
.design-photo {
  background-image: url(../assets/home/mobile/designed-for-everyone.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 27rem;
  background-size: cover;
}
.design-txt-box {
  padding: 5.9em 2.4em;
}
.design-txt-box > h1 {
  font-weight: var(--max-font-weight);
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 3.33333px;
  text-transform: uppercase;
  color: #000000;
}

.design-txt-box > p {
  font-weight: var(--min-font-weight);
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  margin-top: 1.6rem;
  mix-blend-mode: normal;
  opacity: 0.6;
}

/* ******************************************************** */
/* photo exibition*/
/* mountain section */
/* ******************************************************** */

.mountain {
  background-image: url(../assets/stories/mobile/mountains.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 37rem;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 3.5rem 0;
}
.mountainsec::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-image: linear-gradient(
    27deg,
    #ffc593 0%,
    #bc7198 49%,
    #5a77ff 95%
  );
  opacity: 0;
  transition: opacity 0.3s;
}
.txtbox {
  width: 80%;
}
.author {
  margin-bottom: 1.6rem;
}
.author > h1 {
  font-size: 18px;
  line-height: 25px;
  font-weight: var(--max-font-weight);
  color: #ffffff;
}
.author > p {
  font-size: 13px;
  line-height: 17px;
  font-weight: var(--min-font-weight);
  color: #ffffff;
}
.story-line {
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
  margin-bottom: 2rem;
}
.read-story {
  display: flex;
  justify-content: space-between;
}
.readtxt {
  font-size: 12px;
  line-height: 16px;
  font-weight: var(--min-font-weight);
  letter-spacing: 2px;
  color: #ffffff;
}

/* ******************************************************** */
/* photo exibition*/
/* city section */
/* ******************************************************** */
.city {
  background-image: url(../assets/stories/mobile/cityscapes.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 37rem;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 3.5rem 0;
}

.citysec::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-image: linear-gradient(
    27deg,
    #ffc593 0%,
    #bc7198 49%,
    #5a77ff 95%
  );
  opacity: 0;
  transition: opacity 0.3s;
}
/* ******************************************************** */
/* photo exibition*/
/* voyage section */
/* ******************************************************** */
.voyage {
  background-image: url(../assets/stories/mobile/18-days-voyage.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 35rem;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 3.5rem 0;
}

.voyagesec::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-image: linear-gradient(
    27deg,
    #ffc593 0%,
    #bc7198 49%,
    #5a77ff 95%
  );
  opacity: 0;
  transition: opacity 0.3s;
}
/* ******************************************************** */
/* photo exibition*/
/* architecte section */
/* ******************************************************** */
.architect {
  background-image: url(../assets/stories/mobile/architecturals.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 35rem;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 3.5rem 0;
}
.architectsec::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-image: linear-gradient(
    27deg,
    #ffc593 0%,
    #bc7198 49%,
    #5a77ff 95%
  );
  opacity: 0;
  transition: opacity 0.3s;
}
/* ******************************************************** */
/* features section */
/* ******************************************************** */
.features {
  padding: 8rem 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 5.6rem;
}
.features-heading {
  font-weight: var(--max-font-weight);
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  margin-top: 6.6rem;
}
.features-para {
  font-weight: var(--min-font-weight);
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  margin-top: 1.6rem;
  opacity: 0.6;
  margin-bottom: 1.6rem;
}
/* ******************************************************** */
/* min-tablet version starts from here 560px*/
/* ******************************************************** */
@media screen and (min-width: 560px) {
  /* ******************************************************** */
 
  /* ******************************************************** */
  /* main section  */
  /* create and share */
  /* ******************************************************** */
  .createsec {
    display: flex;
    flex-direction: row-reverse;
  }
  .createandshare {
    background-position: center;
    height: 42rem;
  }
  .createandsharetxt::before {
    width: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 50%;
  }
  /*  beautiful stories section  */
  .beautifulsec {
    display: flex;
    flex-direction: row;
  }
  .stories-photo {
    height: 42rem;
  }
  /* Design for everyone */

  .designsec {
    display: flex;
    flex-direction: row-reverse;
  }
  .design-photo {
    background-position: center;
    height: 42rem;
  }

  /* Photo exibition  */
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}

/* ******************************************************** */
/* tablet version starts from here 768px */
/* ******************************************************** */
@media screen and (min-width: 768px) {
  /* main section **********************************/
  /* creat and share */

  .createandsharetxt {
    height: 65rem;
  }

  .createandshare {
    background-image: url(../assets/home/tablet/create-and-share.jpg);
    background-repeat: no-repeat;
    height: 65rem;
  }

  .create-text-box {
    padding: 17.3em 5.4em;
  }
  .create-text-box > h1 {
    font-weight: var(--max-font-weight);
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: 3.33333px;
    text-transform: uppercase;
  }

  .create-text-box > p {
    font-weight: var(--min-font-weight);
    font-size: 1.5rem;
    line-height: 2.5rem;
    opacity: 0.6;
    margin-top: 2.6rem;
  }
  .getinvitation {
    margin-top: 4.8rem;
  }
  .invite-link {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
  }
  /* beautiful stories section */

  .stories-photo {
    background-image: url(../assets/home/tablet/beautiful-stories.jpg);
    background-repeat: no-repeat;
    height: 60rem;
  }
  .stories-txt-box {
    padding: 15.1em 7.4em;
  }
  .stories-txt-box > h1 {
    font-size: 4rem;
    line-height: 4.8rem;
  }
  .stories-txt-box > p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  /* Design for everyone */

  .design-photo {
    background-image: url(../assets/home/tablet/designed-for-everyone.jpg);
    background-repeat: no-repeat;
    height: 60rem;
  }

  .designtxt {
    padding: 11.1em 2.4em;
  }
  .design-txt-box > h1 {
    font-size: 4rem;
    line-height: 4.8rem;
  }
  /* ********************************************** */
  /* gallery section */
  /* ********************************************** */
  /* mountain */
  .mountain {
    background-image: url(../assets/stories/desktop/mountains.jpg);
    background-repeat: no-repeat;
    height: 53rem;
  }

  /* city */
  .city {
    background-image: url(../assets/stories/desktop/cityscapes.jpg);
    background-repeat: no-repeat;
    height: 53rem;
  }
  /* voyage */
  .voyage {
    background-image: url(../assets/stories/desktop/18-days-voyage.jpg);
    background-repeat: no-repeat;
    height: 53rem;
  }
  /* architect */
  .architect {
    background-image: url(../assets/stories/desktop/architecturals.jpg);
    background-repeat: no-repeat;
    height: 53rem;
  }
  /* features */
  .features {
    padding: 12rem 15rem;
    max-width: 100%;
  }

}

/* ******************************************************* */
/* DEsktop version */
/* ******************************************************* */
@media screen and (min-width: 1024px) {
  /* create and share */
  .createandshare {
    background-image: url(../assets/home/desktop/create-and-share.jpg);
    background-repeat: no-repeat;
    /* height: 83rem; */
  }
  .createandsharetxt {
    width: 91rem;
  }
  .create-text-box {
    padding: 17.3em 11.1em;
  }

  /* beautiful stories section */
  .stories-photo {
    background-image: url(../assets/home/desktop/beautiful-stories.jpg);
    background-repeat: no-repeat;
  }
  .storiestxt {
    width: 91rem;
  }
  .stories-txt-box {
    padding: 9.6em 13.1em;
  }
  /*  Design for everyone*/
  .design-photo {
    background-image: url(../assets/home/desktop/designed-for-everyone.jpg);
    background-repeat: no-repeat;
    height: 68rem;
  }
  .designtxt {
    width: 71rem;
  }
  .design-txt-box {
    padding: 4.6rem;
  }
  /* .invite-story:hover {
    color: #000000;
    text-decoration: underline;
  } */
  /* photo exibition */
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .mountain,
  .city,
  .voyage,
  .architect {
    height: 70rem;
  }

  /* hovers */
  .mountainsec {
    transition: all 0.3s;
  }
  .mountainsec:hover {
    transform: translateY(-25px);
    cursor: pointer;
    opacity: 1;
    filter: brightness(65%);
  }

  .citysec {
    transition: all 0.3s;
  }
  .citysec:hover {
    transform: translateY(-25px);
    cursor: pointer;
    opacity: 1;
    filter: brightness(66%);
  }

  .voyagesec {
    transition: all 0.3s;
  }
  .voyagesec:hover {
    transform: translateY(-25px);
    cursor: pointer;
    opacity: 1;
    filter: brightness(65%);
  }
  .architectsec {
    transition: all 0.3s;
  }

  .architectsec:hover {
    transform: translateY(-25px);
    cursor: pointer;
    opacity: 1;
    filter: brightness(65%);
  }
  .mountainsec:hover::after {
    opacity: 1;
  }
  .citysec:hover::after {
    opacity: 1;
  }
  .voyagesec:hover::after {
    opacity: 1;
  }
  .architectsec:hover::after {
    opacity: 1;
  }

  /* features */
  .features {
    padding: 12rem 16.5rem;
    display: grid;
    align-items: baseline;
    grid-template-columns: repeat(3, 1fr);
  }
}